<?xml version="1.0" encoding="utf-8"?>
<robot
  name="stretch_docking_station_description">
  <link
    name="link_docking_station">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/link_docking_station.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/link_docking_station.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_aruco_110mm">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.01" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/link_aruco_110mm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/link_aruco_110mm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_aruco_110mm"
    type="fixed">
    <origin
      xyz="0 -0.050582 0.20519"
      rpy="-1.0996 0 0" />
    <parent
      link="link_docking_station" />
    <child
      link="link_aruco_110mm" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>