<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="stretch_docking_station_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.2952E-07 0.019757 0.069382"
        rpy="0 0 0" />
      <mass
        value="0.37434" />
      <inertia
        ixx="0.0022499"
        ixy="-4.4649E-09"
        ixz="1.6729E-08"
        iyy="0.0025721"
        iyz="0.00031809"
        izz="0.0019075" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_aruco_110mm">
    <inertial>
      <origin
        xyz="3.747E-16 2.7756E-17 -5E-05"
        rpy="0 0 0" />
      <mass
        value="0.0012097" />
      <inertia
        ixx="1.2191E-06"
        ixy="-2.4564E-21"
        ixz="2.3344E-23"
        iyy="1.2191E-06"
        iyz="5.294E-23"
        izz="2.4381E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/link_aruco_110mm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/link_aruco_110mm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_aruco_110mm"
    type="fixed">
    <origin
      xyz="0 -0.050582 0.20519"
      rpy="-1.0996 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_aruco_110mm" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>