<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Stretch_RE1_docking_station_beta_URDF">
  <link
    name="link_docking_station">
    <inertial>
      <origin
        xyz="5.2952E-07 0.019757 0.069382"
        rpy="0 0 0" />
      <mass
        value="0.37434" />
      <inertia
        ixx="0.0022499"
        ixy="-4.4649E-09"
        ixz="1.6729E-08"
        iyy="0.0025721"
        iyz="0.00031809"
        izz="0.0019075" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Stretch_RE1_docking_station_beta_URDF/meshes/link_docking_station.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Stretch_RE1_docking_station_beta_URDF/meshes/link_docking_station.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_aruco_110mm">
    <inertial>
      <origin
        xyz="3.7470027081099E-16 0 -4.99999999999945E-05"
        rpy="0 0 0" />
      <mass
        value="0.00120965663706133" />
      <inertia
        ixx="1.2190624248564E-06"
        ixy="-2.45820699479271E-21"
        ixz="2.33574138288171E-23"
        iyy="1.2190624248564E-06"
        iyz="2.64697796016969E-22"
        izz="2.4381228336184E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Stretch_RE1_docking_station_beta_URDF/meshes/link_aruco_110mm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Stretch_RE1_docking_station_beta_URDF/meshes/link_aruco_110mm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_aruco_110mm"
    type="fixed">
    <origin
      xyz="0 -0.050582 0.20519"
      rpy="-1.0996 0 0" />
    <parent
      link="link_docking_station" />
    <child
      link="link_aruco_110mm" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>