<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stretch">

    <xacro:include filename="$(find stretch_tool_share)/tool_share/stretch_dex_wrist/stretch_description/urdf/stretch_dex_wrist.xacro" />
  <!--<xacro:include filena$(find stretch_description)/urdfme="stretch_gripper.xacro" /> -->
  <!--<xacro:include filena$(find stretch_description)/urdfme="stretch_gripper_with_puller.xacro" />-->
  <!--<xacro:include filena$(find stretch_description)/urdfme="stretch_dry_erase_marker.xacro" />-->
  <xacro:include filename="$(find stretch_description)/urdf/stretch_main.xacro" />
  <xacro:include filename="$(find stretch_description)/urdf/stretch_aruco.xacro" />
  <xacro:include filename="$(find stretch_description)/urdf/stretch_d435i.xacro" />
  <xacro:include filename="$(find stretch_description)/urdf/stretch_laser_range_finder.xacro" />
  <xacro:include filename="$(find stretch_description)/urdf/stretch_respeaker.xacro" />

</robot>

  

